<div class="container study-record">
  <% learnings.each do |learning| %>
    <div class="card mb-3 mx-auto">
      <div class="row no-gutters p-2 bg-white">
        <div class="col-lg-6 d-flex align-items-center justify-content-center">
          <%= link_to learning_path(learning.id), class: "image-link-border" do %>
            <%= attachment_image_tag learning, :image, format: "jpeg", fallback: "no_image.jpg", class: "learning-image img-responsive center-block" %>
          <% end %>
        </div>
        <div class="col-lg-6 d-flex align-items-center">
          <div class="card-body text-center text-lg-left">
            <small class="card-text">学習日：<%= learning.date.strftime("%Y年%m月%d日") %></small>
            <h4 class="card-title my-3 pb-1"><%= link_to learning.title, learning_path(learning.id) %></h4>
            <p class="card-text my-2">学習時間：<i class="far fa-clock"></i><%= learning.time %>時間</p>
            <small class="card-text my-3"><i class="far fa-comment"></i>コメント：<%= learning.learning_comments.count %>　<i class="far fa-heart"></i>いいね：<%= learning.favorites.count %></small><br>
            <small class="card-text my-3"><%= learning.created_at.strftime("%Y年%m月%d日") %>投稿 by <%= link_to learning.user.nickname, user_path(learning.user) %></small><br>
            <p class="card-text my-2">タグ：<%= render 'tag_list', tag_list: learning.tag_list %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>