<div class="card mx-5 admin-learning-card shadow-lg">
  <div class="card-body">
    <div class="admins-learning-search mb-3">
      <%= render 'admins/learnings/search_form', search: search %>
    </div>
    <table class="table admin-learning-table">
      <thead>
        <tr>
          <th>投稿ユーザー名</th>
          <th>タイトル</th>
          <th>詳細</th>
          <th>公開フラグ</th>
          <th>タグ</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% learnings.each do |learning| %>
          <tr>
            <td><%= learning.user.nickname %></td>
            <td><%= learning.title %></td>
            <td><%= learning.detail.truncate(20) %></td>
            <td>
              <% if learning.is_public == true %>
                <p>公開</p>
              <% else %>
                <p>非公開</p>
              <% end %>
            </td>
            <td><%= render 'admins/learnings/tag_list', tag_list: learning.tag_list %></td>
            <td class="text-center px-1">
              <%= link_to '編集', edit_admins_learning_path(learning.id), class: "btn btn-outline-info btn-sm ml-1 my-1" %>
              <%= link_to '削除', admins_learning_path(learning.id), method: :delete, "data-confirm" => "#{learning.title}を削除しますか？", class: "btn btn-outline-danger btn-sm ml-2 mr-1 my-1" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="admin-paginate"><%= paginate learnings %></div>
  </div>
</div>