<div class="container mb-3">
  <div class="row">
    <div class="col-lg-12">
      <div class="card admin-learning-card shadow-lg">
        <div class="card-body">
          <div class="admins-learning-search mb-3">
            <%= render 'admins/learnings/search_form', search: search %>
          </div>
          <table class="table admin-learning-table">
            <thead>
              <tr>
                <th class="align-middle">投稿ユーザー</th>
                <th class="align-middle">タイトル</th>
                <th class="admin-learning-detail align-middle">詳細</th>
                <th class="admin-learning-public-info align-middle">公開フラグ</th>
                <th class="admin-tag align-middle">タグ</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% learnings.each do |learning| %>
                <tr>
                  <td><%= link_to learning.user_nickname, admins_user_path(learning.user) %></td>
                  <td><%= link_to learning.title, admins_learning_path(learning) %></td>
                  <td class="admin-learning-detail">
                    <% if learning.detail? %>
                      <%= learning.detail.truncate(20) %>
                    <% end %>
                  </td>
                  <td class="admin-learning-public-info">
                    <% if learning.is_public %>
                      公開中
                    <% else %>
                      非公開
                    <% end %>
                  </td>
                  <td class="admin-tag"><%= render 'admins/learnings/tag_list', tags: learning.tags %></td>
                  <td class="text-center">
                    <%= link_to '編集', edit_admins_learning_path(learning), class: "btn btn-outline-info admin-btn my-1" %>
                    <%= link_to '削除', admins_learning_path(learning), method: :delete, "data-confirm" => "#{learning.title}を削除しますか？", class: "btn btn-outline-danger admin-btn my-1" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div id="admin_paginate">
            <%= paginate learnings %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
