<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="card admin-user-card shadow-lg">
        <div class="card-body">
          <div class="admins-user-search mb-3">
            <%= render 'admins/users/search_form', search: search %>
          </div>
          <table class="table admin-user-table">
            <thead>
              <tr>
                <th class="align-middle">ニックネーム</th>
                <th class="align-middle">メールアドレス</th>
                <th class="admin-user-biography align-middle" colspan="2">プロフィール</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% users.each do |user| %>
                <tr>
                  <td><%= link_to user.nickname, admins_user_path(user) %></td>
                  <td><%= user.email %></td>
                  <td class="admin-user-biography" colspan="2">
                    <% if user.biography.present? %>
                      <%= user.biography.truncate(40) %>
                    <% end %>
                  </td>
                  <td class="text-center">
                    <%= link_to '編集', edit_admins_user_path(user.id), class: "btn btn-outline-info admin-btn my-1" %>
                    <%= link_to '削除', admins_user_path(user.id), method: :delete, "data-confirm" => "#{user.nickname}さんを削除しますか？", class: "btn btn-outline-danger admin-btn my-1" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div id="admin_paginate">
            <%= paginate users %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>