<div class="card mx-5 admin-user-card shadow-lg">
  <div class="card-body">
    <div class="admins-user-search mb-3">
      <%= render 'admins/users/search_form', search: search %>
    </div>
    <table class="table admin-user-table">
      <thead>
        <tr>
          <th>ニックネーム</th>
          <th>メールアドレス</th>
          <th colspan="2">プロフィール</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% users.each do |user| %>
          <tr>
            <td><%= user.nickname %></td>
            <td><%= user.email %></td>
            <td colspan="2"><%= user.biography.truncate(40) %></td>
            <td class="text-center">
              <%= link_to '編集', edit_admins_user_path(user.id), class: "btn btn-outline-info btn-sm ml-1 my-1" %>
              <%= link_to '削除', admins_user_path(user.id), method: :delete, "data-confirm" => "#{user.nickname}さんを削除しますか？", class: "btn btn-outline-danger btn-sm ml-2 mr-1 my-1" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate users %>
  </div>
</div>