<div class="col-lg-8 offset-lg-2 user-comment mb-3">
  <h5 class="text-center"><i class="fa fa-comment"></i> コメント <%= learning.learning_comments.count %>件</h5>
  <% learning_comments.includes(:user).each do |learning_comment| %>
  <div class="row mt-3">
    <div class="col-10 offset-1">
      <%= learning_comment.user.nickname %>
    </div>
  </div>
  <div class="row">
    <div class="col-10 offset-1">
      <small><%= learning_comment.created_at.strftime("%Y年%m月%d日") %></small>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-10 offset-1 comment-text">
      <%= learning_comment.comment %>
    </div>
  </div>
  <div class="row mt-3 pb-3 comment-delete">
    <div class="col-10 offset-1 text-right">
      <% if learning_comment.user == current_user %>
        <%= link_to "削除", learning_learning_comment_path(learning_comment.learning_id, learning_comment.id), method: :delete, class: "btn btn-sm btn-outline-danger" %>
      <% end %>
    </div>
  </div>
  <% end %>
  <%= paginate learning_comments %>
  <% if user_signed_in? %>
    <div class="row mt-5">
      <div class="col-lg-8 offset-lg-4 text-right">
        <%= form_with(model:[learning, learning_comment], local: true) do |f| %>
          <%= f.text_area :comment, required: true, rows:'5', placeholder: "コメントする" %>
          <%= f.submit '送信', class: "btn btn-outline-success" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
