<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="card mx-auto my-5 shadow-lg">
        <div class="card-header">学習内容を編集する</div>
        <div class="card-body">
          <%= form_with model: @learning, url: "/learnings/#{@learning.id}", method: :patch, local:true do |f| %>
            <div class="row mt-3">
              <div class="col-lg-10 offset-lg-1">
                <%= f.label :date, '学習日' %>
                <%= f.date_field :date, class: "mr-5" %>
                <%= f.label :time, '学習時間' %>
                <%= f.number_field :time, step: "0.1", in: 0...25 %> 時間
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-lg-10 offset-lg-1">
                <%= f.label :title, 'タイトル' %>
                <%= f.text_field :title, class: "form-control" %>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-lg-10 offset-lg-1">
                <%= f.label :detail, '詳細' %>
                <%= f.text_area :detail, size: "20x10", class: "form-control" %>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-lg-10 offset-lg-1">
                <%= f.label :image, '画像選択' %><br>
                <%= f.attachment_field :image %>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-lg-10 offset-lg-1">
                <%= f.radio_button :is_public, true, checked: true %>
                <%= f.label :is_public, '公開する', {:value => "true", style: "display: inline-block;"} %>
                <%= f.radio_button :is_public, false %>
                <%= f.label :is_public, '非公開', {:value => "false", style: "display: inline-block;"} %><br>
                <small class="text-danger">※「公開する」を選択すると全てのユーザーがこの学習記録を閲覧できます</small>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-lg-10 offset-lg-1 text-center">
                <%= f.submit '更新する', class: "btn btn-outline-primary px-5" %>
              </div>
            </div>
          <% end %>
          <div class="row mt-4">
            <div class="col-lg-10 offset-lg-1 text-center">
              <%= link_to '削除する', learning_path(@learning.id), method: :delete, "data-confirm" => "#{@learning.title}をリストから削除しますか？", class: "btn btn-outline-danger px-5" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar col-lg-4">
      <%= render 'layouts/sidebar_top', today_study_time: @today_study_time, yesterday_study_time: @yesterday_study_time %>
      <%= render 'layouts/sidebar_bottom', my_tasks: @my_tasks %>
    </div>
  </div>
</div>