<div class="container">
  <% breadcrumb :learning, @learning %>
  <%= render "layouts/breadcrumbs" %>
  <h1 class="my-3 text-center learning-title"><i class="fa fa-book"></i> 学習記録詳細</h1>
  <div class="row mx-0 bg-light mb-3 p-2 rounded">
    <div class="col-lg-4 d-flex align-items-center justify-content-center">
      <%= attachment_image_tag @learning, :image, format: "jpeg", fallback: "no_image.jpg", class: "learning-image img-responsive center-block" %>
    </div>
    <div class="col-lg-8">
      <table class="table show-table">
        <tbody class="learning-tbody">
          <tr>
            <th>タイトル</th>
            <td colspan="2"><%= @learning.title %></td>
          </tr>
          <tr>
            <th>学習日</th>
            <td colspan="2"><%= @learning.date.strftime("%Y年%m月%d日") %></td>
          </tr>
          <tr>
            <th>学習時間</th>
            <td colspan="2"><%= @learning.time %>時間</td>
          </tr>
          <tr>
            <th>詳細</th>
            <td colspan="2" class="learning-detail-text"><%= @learning.detail %></td>
          </tr>
          <tr>
            <th>タグ</th>
            <td colspan="2">
              <% if @learning.user == current_user %>
                <%= render 'public/learnings/tag_list', tags: @learning.tags %>
              <% else %>
                <%= render 'public/homes/tag_list', tags: @learning.tags %>
              <% end %>
            </td>
          </tr>
          <tr class="user-info">
            <th>ユーザー</th>
            <td colspan="2" class="user-name">
              <%= link_to user_path(@learning.user) do %>
                <%= image_tag @learning.user.image_url, class: "user-profile-resize" %>
                <%= @learning.user_nickname %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <% if user_signed_in? %>
                <div class="favorite-btn"><%= render 'favorite', learning: @learning %></div>
              <% else %>
                <div class="favorite-btn favorite"><p class="heart">♥<%= @learning.favorites_count %> いいね</p></div>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <% if @learning.user == current_user %>
    <div class="text-center mb-5">
      <%= link_to '学習内容を編集する', edit_learning_path(@learning), class: "btn btn-outline-info px-5 learning-edit-btn" %>
    </div>
  <% end %>
  <%= render 'public/learnings/comment', learning: @learning, learning_comment: @learning_comment, learning_comments: @learning_comments %>
</div>
