<div class="container">
  <h1 class="my-3 text-center learning-title"><i class="fa fa-book"></i> 学習記録詳細</h1>
  <div class="row mx-0">
    <div class="col-4 text-center">
      <%= attachment_image_tag @learning, :image, format: "jpeg", fallback: "no_image.jpg", class: "w-100" %>
    </div>
    <div class="col-7">
      <table class="table show-table">
        <tbody>
          <tr>
            <th>タイトル</th>
            <td colspan="2"><%= @learning.title %></td>
          </tr>
          <tr>
            <th>学習日</th>
            <td colspan="2"><%= @learning.date.strftime("%Y年%m月%d日") %></td>
          </tr>
          <tr>
            <th>学習時間</th>
            <td colspan="2"><%= @learning.time %>時間</td>
          </tr>
          <tr>
            <th>詳細</th>
            <td colspan="2"><%= @learning.detail %></td>
          </tr>
          <tr>
            <th>タグ</th>
            <td colspan="2"><%= render 'public/learnings/tag_list', tag_list: @learning.tag_list %></td>
          </tr>
          <tr>
            <th>ユーザー名</th>
            <td class="user-img">
              <%= link_to user_path(@learning.user) do %>
                <%= attachment_image_tag @learning.user, :image, format: "jpeg", fallback: "user-no-img-min.jpg", class: "mb-1" %>
              <% end %>
              <%= link_to @learning.user.nickname, user_path(@learning.user) %></td>
          </tr>
          <tr>
            <th>
              <% if user_signed_in? %>
                <div class="favorite-btn"><%= render 'favorite', learning: @learning %></div>
              <% else %>
                <div class="favorite-btn favorite"><p class="heart">♥<%= @learning.favorites.count %> いいね</p></div>
              <% end %>
            </th>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <% if @learning.user == current_user %>
    <div class="text-center mb-5">
      <%= link_to '学習内容を編集する', edit_learning_path(@learning), class: "btn btn-outline-info px-5" %>
    </div>
  <% end %>
  <%= render 'public/learnings/comment', learning: @learning, learning_comment: @learning_comment, learning_comments: @learning_comments %>
</div>