<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="card mx-auto mt-5 mb-2 shadow-lg">
        <div class="card-header learning-header text-center"><i class="fa fa-book"></i> 学習記録詳細</div>
        <div class="card-img-top text-center pt-3"><%= attachment_image_tag @learning, :image, format: "jpeg", class: "w-75" %></div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-10 offset-lg-1">
              <%= link_to user_path(current_user) do %>
                <%= attachment_image_tag @user, :image, format: "jpeg", fallback: "no_image.jpg", class: "user-img" %>
              <% end %>
              <span class="ml-2 user-name"><%= link_to @user.nickname, user_path(@user) %></span>
            </div>
        　</div>
          <div class="row mt-3">
            <div class="col-lg-10 offset-lg-1">
              <h5 class="learning-text mb-3"> 学習日</h5>
              <p><%= @learning.date.strftime("%Y年%m月%d日") %></p>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-lg-10 offset-lg-1">
              <h5 class="learning-text mb-3"> 学習時間</h5>
              <p><%= @learning.time %> 時間</p>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-lg-10 offset-lg-1">
              <h5 class="learning-text mb-3"> タイトル</h5>
              <p><%= @learning.title %></p>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-lg-10 offset-lg-1">
              <h5 class="learning-text mb-3"> 詳細</h5>
              <p><%= @learning.detail %></p>
            </div>
          </div>
          <%= render 'tag_list', tag_list: @learning.tag_list %>
          <div class="favorite-btn"><%= render 'favorite', learning: @learning %></div>
          <div class="row mt-4">
            <div class="col-lg-10 offset-lg-1 text-center">
              <% if @user == current_user %>
                <%= link_to '学習内容を編集する', edit_learning_path(@learning), class: "btn btn-outline-info px-5" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <%= render 'public/learnings/comment', learning: @learning, learning_comment: @learning_comment, learning_comments: @learning_comments %>
    </div>
  </div>
</div>