<div class="card mx-auto my-5 shadow-lg">
  <div class="card-header list-header text-center"><i class="fa fa-list-alt"></i> ToDoリスト編集</div>
  <div class="card-body">
    <%= form_with model: task, url: task_path(task.id), method: :patch, local:true do |f| %>
      <div class="row mt-4">
        <div class="col-10 offset-1">
          <%= f.label :due, '期限' %></br>
          <%= raw sprintf(
            f.datetime_select(
              :due,
              {
                start_year: Time.zone.now.prev_year.year,
                end_year: Time.zone.now.next_year.year,
                minute_step: 5,
                use_two_digit_numbers: true,
                date_separator: '%s',
                datetime_separator: '%s',
                time_separator: '%s'
              },
              { class: 'p-1' }
            ),
            '年 ', '月 ', '日 ', '時 ') + '分'
          %>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-10 offset-1">
          <%= f.label :title, '題名' %>
          <%= f.text_field :title, class: "form-control" %>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-10 offset-1">
          <%= f.label :detail, '詳細' %>
          <%= f.text_area :detail, size: "20x10", class: "form-control" %>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-10 offset-1">
          <%= f.label :tag_list, 'タグ（","で区切ることで複数のタグを入力できます）' %>
          <%= f.text_field :tag_list, value: task.tag_list.join(','), class: "form-control", placeholder: '例：プログラミング,ruby,rails' %>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-10 offset-1">
          <%= f.label :priority_status, 'タスクの優先度' %></br>
          <%= f.select :priority_status, Task.priority_statuses.keys, {}, class: "col-form-label-lg px-2" %>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-10 offset-1">
          <%= f.label :progress_status, 'タスクの進捗度' %><br>
          <%= f.select :progress_status, Task.progress_statuses.keys, {}, class: "col-form-label-lg px-2" %>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-10 offset-1 text-center">
          <%= f.submit '更新する', class: "btn btn-outline-primary px-5 mx-3" %>
          <%= link_to '削除する', task_path(task.id), method: :delete, "data-confirm" => "#{task.title}をリストから削除しますか？", class: "btn btn-outline-danger px-5 mx-3" %>
        </div>
      </div>
    <% end %>
  </div>
</div>