<div class="row">
  <% tasks.each.with_index(1) do |task, index| %>
    <div class="col-8 offset-2">
      <div class="card-body m-1 task-content <%= add_class_name_priority_bg_color(task.priority_status) %>">
        <small class="<%= "text-danger" if task.due < Time.now %> card-text">期限：<%= task.due.strftime("%Y年%m月%d日 %H:%M") %></small></br>
        <h4 class="card-title my-2"><%= link_to "#{index}. " + task.title, task_path(task.id) %></br></h4>
        <small class="card-text my-1">優先度：<span class="<%= add_class_name_priority_text_color(task.priority_status) %>"><%= task.priority_status %></span><span class="mx-3">進捗度：<span class="<%= add_class_name_progress(task.progress_status) %>"><%= task.progress_status %></span></span></small></br>
        <p class="card-text my-2">タグ：<%= render 'tag_list', tag_list: task.tag_list %></p>
        <div class="task-btn">
          <%= link_to '詳細を見る', task_path(task.id), class: "btn btn-outline-light btn-sm m-1" %>
          <%= link_to '編集する', edit_task_path(task.id), class: "btn btn-outline-info btn-sm m-1" %>
          <%= link_to '削除する', task_path(task.id), method: :delete, "data-confirm" => "#{task.title}をリストから削除しますか？", class: "btn btn-outline-danger btn-sm m-1" %>
        </div>
      </div>
    </div>
  <% end %>
</div>