<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="card mx-auto my-5 shadow-lg">
        <div class="card-header">ToDoリスト作成</div>
        <div class="card-body">
          <%= form_with model: @task, url: "/tasks", method: :post, local:true do |f| %>
            <div class="row mt-3">
              <div class="col-lg-10 offset-lg-1">
                <%= f.label :due, '期限日' %></br>
                <%= raw sprintf(
                  f.datetime_select(
                    :due,
                    {
                      start_year: Time.zone.now.prev_year.year,
                      end_year: Time.zone.now.next_year.year,
                      minute_step: 5,
                      use_two_digit_numbers: true,
                      date_separator: '%s',
                      datetime_separator: '%s',
                      time_separator: '%s'
                    },
                    { class: 'p-2' }
                  ),
                  '年 ', '月 ', '日 ', '時 ') + '分'
                %>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-lg-10 offset-lg-1">
                <%= f.label :title, '題名' %>
                <%= f.text_field :title, class: "form-control" %>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-lg-10 offset-lg-1">
                <%= f.label :detail, '詳細' %>
                <%= f.text_area :detail, size: "20x10", class: "form-control" %>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-lg-10 offset-lg-1">
                <%= f.label :priority_status, 'タスクの優先度' %></br>
                <%= f.select :priority_status, Task.priority_statuses.keys, {}, class: "col-form-label-lg px-2" %>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-lg-10 offset-lg-1 text-center">
                <%= f.submit '作成する', class: "btn btn-outline-success px-5" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="sidebar col-lg-4">
      <%= render 'layouts/sidebar_top', today_study_time: @today_study_time, yesterday_study_time: @yesterday_study_time %>
      <%= render 'layouts/sidebar_bottom', my_tasks: @my_tasks %>
    </div>
  </div>
</div>
