<div class="container">
  <%= render 'layouts/errors', obj: @task %>
  <div class="row">
    <div class="col-lg-8">
      <div class="card mx-auto my-5 shadow-lg">
        <div class="card-header list-header text-center"><i class="fa fa-list-alt"></i> ToDoリスト詳細</div>
        <div class="card-body">
          <div class="row mt-3">
            <div class="col-lg-10 offset-lg-1">
              <h4 class="list-text mb-3"> 期限</h4>
              <p><%= @task.due.strftime("%Y年%m月%d日 %H:%M") %></p>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-lg-10 offset-lg-1">
              <h4 class="list-text mb-3"> 題名</h4>
              <p><%= @task.title %></p>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-lg-10 offset-lg-1">
              <h4 class="list-text mb-3"> 詳細</h4>
              <p><%= @task.detail %></p>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-lg-4 offset-lg-1 p-3 list-status">
               優先度：<span><%= @task.priority_status %></span>
            </div>
            <div class="col-lg-4 offset-lg-1 p-3 list-status">
               進捗度：<span><%= @task.progress_status %></span>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-lg-10 offset-lg-1 text-center">
              <%= link_to '編集する', edit_task_path(@task.id), class: "btn btn-outline-info px-5" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar col-lg-4">
      <%= render 'layouts/sidebar_top', my_today_study_time: @my_today_study_time, my_yesterday_study_time: @my_yesterday_study_time %>
      <%= render 'layouts/sidebar_bottom', my_tasks: @my_tasks %>
    </div>
  </div>
</div>