<div class="container">
  <% breadcrumb :task, @task %>
  <%= render "layouts/breadcrumbs" %>
  <h1 class="my-3 text-center task-title"><i class="fa fa-list-alt"></i> ToDoリスト詳細</h1>
  <div class="row mx-0">
    <div class="col-10 offset-1">
      <table class="table show-table">
        <tbody>
          <tr>
            <th>期限</th>
            <td class="<%= "text-danger" if @task.due < Time.now %>" colspan="2"><%= @task.due.strftime("%Y年%m月%d日 %H:%M") %><%= "　＊期限が過ぎています" if @task.due < Time.now %></td>
          </tr>
          <tr>
            <th>題名</th>
            <td colspan="2"><%= @task.title %></td>
          </tr>
          <tr>
            <th>詳細</th>
            <td colspan="2"><%= @task.detail %></td>
          </tr>
          <tr>
            <th>優先度</th>
            <td class="<%= add_class_name_priority_text_color(@task.priority_status) %>", colspan="2"><%= @task.priority_status %></td>
          </tr>
          <tr>
            <th>進捗度</th>
            <td class="<%= add_class_name_progress(@task.progress_status) %>", colspan="2"><%= @task.progress_status %></td>
          </tr>
          <tr>
            <th>タグ</th>
            <td colspan="2"><%= render 'public/tasks/tag_list', tag_list: @task.tag_list %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="text-center mb-5">
    <%= link_to 'ToDoリストを編集する', edit_task_path(@task.id), class: "btn btn-outline-info px-5" %>
  </div>
</div>