<div class="container">
  <% breadcrumb :task, @task %>
  <%= render "layouts/breadcrumbs" %>
  <h1 class="my-3 text-center task-title"><i class="fa fa-list-alt"></i> ToDoリスト詳細</h1>
  <div class="row mx-0 bg-light mb-3 p-2 rounded">
    <div class="col-lg-10 offset-lg-1">
      <table class="table show-table">
        <tbody>
          <tr>
            <th>期限</th>
            <td class="<%= "text-danger" if @task.due < Time.now %>" colspan="2"><%= @task.due.strftime("%Y年%m月%d日 %H:%M") %><%= "　＊期限が過ぎています" if @task.due < Time.now %></td>
          </tr>
          <tr>
            <th>題名</th>
            <td colspan="2"><%= @task.title %></td>
          </tr>
          <tr>
            <th>詳細</th>
            <td colspan="2" class="task-detail-text"><%= @task.detail %></td>
          </tr>
          <tr>
            <th>優先度</th>
            <td colspan="2"><span class="<%= add_class_name_priority(@task.priority_status) %> px-2 py-1 text-light"><%= @task.priority_status %></span></td>
          </tr>
          <tr>
            <th>進捗度</th>
            <td colspan="2"><span class="<%= add_class_name_progress(@task.progress_status) %>"><%= @task.progress_status %></span></td>
          </tr>
          <tr>
            <th>タグ</th>
            <td colspan="2"><%= render 'public/tasks/tag_list', tags: @task.tags %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="mb-5">
    <!-- モーダルウィンドウ -->
    <div class="task-modal-content text-center">
      <%= link_to "#blank", class: "js-modal-open btn-modal-open-show-task", "data-target" => "modal_task_edit_#{@task.id}" do %>
        <i class="fas fa-cogs"></i> ToDoリストを編集する
      <% end %>
    </div>
    <div id="modal_task_edit_<%= @task.id %>" class="modal js-modal">
      <div class="modal-bg js-modal-close"></div>
      <div class="modal-content" id="edit_content_<%= @task.id %>">
        <%= render 'public/tasks/edit', task: @task %>
      </div>
    </div>
    <!-- モーダルウィンドウここまで -->
  </div>
</div>
