<div class="container profile">
  <% breadcrumb :user, @user %>
  <%= render "layouts/breadcrumbs" %>
  <h1 class="my-3 text-center profile-title">
    <% if @user == current_user %>
      <i class="fa fa-user"></i> マイページ
    <% else %>
      <i class="fa fa-user"></i> ユーザー情報
    <% end %>
  </h1>
  <div class="row mx-0">
    <div class="col-lg-6 profile-content-left px-0">
      <div class="card m-3">
        <div class="card-body text-center">
          <%= attachment_image_tag @user, :image, format: "jpeg", fallback: "user-no-img-min.jpg", class: "user-img-lg" %>
          <h4 class="mt-3"><%= @user.nickname %></h4>
          <p class="profile-text"><%= link_to 'フォロー：' + (@user.followings.count).to_s, user_followings_path(@user.id) %>　<%= link_to 'フォロワー：' + (@user.followers.count).to_s, user_followers_path(@user) %></p>
          <div class="row">
            <div class="col-lg-12">
              <p class="profile-text mt-3 pb-3 text-left biography-text"><%= @user.biography %></p>
            </div>
          </div>
          <div class="row profile-btn">
            <% if @user == current_user %>
              <div class="col-lg-8 offset-lg-2">
                <%= link_to '過去の学習時間を確認', user_learning_times_path(@user), class: "btn btn-outline-info profile-time-btn px-1 mt-2 w-75" %>
              </div>
              <div class="col-lg-8 offset-lg-2">
                <%= link_to 'プロフィールを編集する', edit_user_path(current_user), class: "btn btn-outline-info profile-edit-btn px-1 mt-4 w-75" %>
              </div>
              <div class="col-lg-8 offset-lg-2">
                <%= link_to '学習記録を確認する', learnings_path, class: "btn btn-outline-danger profile-learning-btn px-1 mt-4 w-75" %>
              </div>
              <div class="col-lg-8 offset-lg-2">
                <%= link_to 'ToDoリストを確認する', tasks_path, class: "btn btn-outline-success profile-list-btn px-1 my-4 w-75" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 px-0">
      <div class="card profile-content-right m-3">
        <div class="card-body text-center">
          <h3 class="mb-3">学習時間</h3>
          <table border="1" width="80%" class="mx-auto mb-2 profile-table">
            <tr>
              <th>今日</th>
              <th>昨日</th>
              <th>過去1週間</th>
              <th>過去1ヶ月</th>
            </tr>
              <tr>
              <th><%= @user.learnings.today_study_time %> 時間</th>
              <th><%= @user.learnings.yesterday_study_time %> 時間</th>
              <th><%= @user.learnings.week_study_time %> 時間</th>
              <th><%= @user.learnings.month_study_time %> 時間</th>
            </tr>
          </table>
          <%= column_chart @learning_chart, label: "学習時間 ", width: "100%", id: 'learning_chart' %>
          <h3 class="my-3">ToDoリスト</h3>
          <table border="1" width="80%" class="mx-auto mb-2 profile-table">
            <tr>
              <th>未着手</th>
              <th>処理中</th>
              <th>完了済</th>
              <th>保留中</th>
            </tr>
              <tr>
              <th class="new-task"><%= @new_tasks %>件</th>
              <th class="processing-task"><%= @processing_tasks %>件</th>
              <th class="completed-task"><%= @completed_tasks %>件</th>
              <th class="pending-task"><%= @pending_tasks %>件</th>
            </tr>
          </table>
          <%= pie_chart @task_chart, colors: ["#FF3333","#FF9900","#005FFF","#00DD00"], donut: true, width: "100%", id: "task_chart" %>
        </div>
      </div>
    </div>
  </div>
</div>