<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="card mx-auto mt-5 mb-2 shadow-lg">
        <% if @user == current_user %> 
          <div class="card-header"><i class="fa fa-user"></i>　マイページ</div>
        <% else %>
          <div class="card-header"><i class="fa fa-user"></i>　ユーザー詳細</div>
        <% end %>
        <div class="card-body">
          <div class="row mt-3">
            <div class="col-lg-10 offset-lg-1">
              <%= link_to user_path(current_user) do %>
                <%= attachment_image_tag @user, :image, format: "jpeg", fallback: "no_image.jpg", class: "user-img-big" %>
              <% end %>
              <span class="ml-2 user-name-big"><%= link_to @user.nickname, user_path(@user) %></span>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-lg-10 offset-lg-1">
              <h5>《自己紹介》</h5>
              <p><%= @user.biography %></p>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-lg-10 offset-lg-1 text-center">
              <% if @user == current_user %>
                <%= link_to '登録情報を編集する', edit_user_path(current_user), class: "btn btn-outline-info px-5" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="caed-deck p-2">
        <div class="row">
          <div class="col-lg-6 mb-2">
            <div class="card h-100">
              <div class="card-header learnings-header text-center p-0"><p class="text-light"><i class="fa fa-graduation-cap"></i> <small>学習時間</small></p></div>
              <div class="card-body text-center">
                <div class="mt-2 mb-3">
                  《今日》<br>
                  <h5 class="mt-2"><i class="fa fa-history"></i> <%= @today_study_time %> 時間</h5>
                </div>
                <div class="mb-3">
                  《過去1週間》<br>
                  <h5 class="mt-2"><i class="fa fa-history"></i> <%= @week_study_time %> 時間</h5>
                </div>
                <div class="mb-3">
                  《過去1ヶ月》<br>
                  <h5 class="mt-2"><i class="fa fa-history"></i> <%= @month_study_time %> 時間</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-2">
            <div class="card h-100">
              <div class="card-header tasks-header text-center p-0"><p class="text-light"><i class="fa fa-list"></i> <small>ToDoリスト</small></p></div>
              <div class="card-body text-center">
                <!-- 後で各タスクにリンク追加 -->
                <p class="my-2">未着手リスト　全<%= @new_tasks.count %>件</p><br>
                <p class="mb-2">処理中リスト　全<%= @processing_tasks.count %>件</p><br>
                <p class="mb-2">完了済リスト　全<%= @completed_tasks.count %>件</p><br>
                <p>保留中リスト　全<%= @processing_tasks.count %>件</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar col-lg-4">
      <%= render 'layouts/sidebar_top', my_today_study_time: @my_today_study_time, my_yesterday_study_time: @my_yesterday_study_time %>
      <%= render 'layouts/sidebar_bottom', my_tasks: @my_tasks %>
    </div>
  </div>
</div>