<% if admin_signed_in? %>
  <header class="admin-header-top">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <div class="navbar-brand p-3"><%= link_to 'MyStudy Note', admins_users_path %></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mr-4">
              <%= link_to admins_users_path, class: 'nav-link text-light' do %>
                <i class="fas fa-users"></i> ユーザー一覧
              <% end %>
            </li>
            <li class="nav-item mr-4">
              <%= link_to admins_learnings_path, class: 'nav-link text-light' do %>
                <i class="fas fa-book"></i> 学習記録一覧
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-light' do %>
                <i class="fas fa-sign-out-alt"></i> ログアウト
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
<% elsif user_signed_in? %>
<header class="header-top">
  <%= link_to image_tag('logo.png'), root_path, class: "logo" %>
  <div class="header-ul ml-auto">
    <div class="header-li">
      <span class="border-left"><%= link_to 'Home', root_path %></span>
      <span class="border-left"><%= link_to 'About', about_path %></span>
      <span class="border-left"><%= link_to 'User list', users_path %></span>
      <span class="border-left border-right"><%= link_to 'Log out', destroy_user_session_path, method: :delete %></span>
    </div>
  </div>
</header>
<% else %>
<header class="header-top">
  <%= link_to image_tag('logo.png') + 'MyStudy Note', root_path, class: "logo" %>
  <div class="header-ul ml-auto">
    <div class="header-li">
      <span class="border-left border-primary"><%= link_to 'ホーム', root_path %></span>
      <span class="border-left border-primary"><%= link_to 'MyStudy Noteとは', about_path %></span>
      <span class="border-left border-primary"><%= link_to '会員登録', new_user_registration_path %></span>
      <span class="border-left border-right border-primary"><%= link_to 'ログイン', new_user_session_path %></span>
    </div>
  </div>
</header>
<% end %>