<% if admin_signed_in? %>
  <header class="admin-header-main">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <div class="navbar-brand"><%= link_to 'MyStudy Note', admins_users_path, class: "logo" %></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mr-4">
              <%= link_to admins_users_path, class: 'nav-link text-light' do %>
                <i class="fas fa-users"></i> ユーザー一覧
              <% end %>
            </li>
            <li class="nav-item mr-4">
              <%= link_to admins_learnings_path, class: 'nav-link text-light' do %>
                <i class="fas fa-book"></i> 学習記録一覧
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-light' do %>
                <i class="fas fa-sign-out-alt"></i> ログアウト
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
<% elsif user_signed_in? %>
  <header class="user-header-main">
    <div class="d-none d-lg-block user-header-top">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <div class="navbar-brand"><%= link_to 'MyStudy Note', root_path, class: "logo" %></div>
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon collapse-close"></span>
          </button> 
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item mr-4">
                <%= link_to root_path, class: 'nav-link' do %>
                  <i class="fas fa-home"></i> ホーム
                <% end %>
              </li>
              <li class="nav-item mr-4">
                <%= link_to users_path, class: 'nav-link' do %>
                  <i class="fas fa-users"></i> ユーザー一覧
                <% end %>
              </li>
              <li class="nav-item mr-4">
                <%= link_to common_learnings_path, class: 'nav-link' do %>
                  <i class="fas fa-book"></i> みんなの学習記録
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link' do %>
                  <i class="fas fa-sign-out-alt"></i> ログアウト
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="d-block d-lg-none user-header-content">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <div class="navbar-brand"><%= link_to 'MyStudy Note', root_path, class: "logo" %></div>
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon collapse-close"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <%= link_to root_path, class: 'nav-link' do %>
                  <i class="fas fa-home"></i> ホーム
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to users_path, class: 'nav-link' do %>
                  <i class="fas fa-users"></i> ユーザー一覧
                <% end %>
              </li>
              <li class="nav-item mr-4">
                <%= link_to common_learnings_path, class: 'nav-link' do %>
                  <i class="fas fa-book"></i> みんなの学習記録
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link' do %>
                  <i class="fas fa-sign-out-alt"></i> ログアウト
                <% end %>
              </li></br>
              <li class="nav-item nav-bottom">
                <h4><i class="fab fa-pagelines"></i> マイメニュー <i class="fab fa-pagelines"></i></h4>
              </li>
              <li class="nav-item nav-bottom">
                <%= link_to user_path(current_user), class: 'nav-link' do %>
                  <i class="fa fa-user"></i> マイページ
                <% end %>
              </li>
              <li class="nav-item nav-bottom">
                <%= link_to user_learning_times_path(current_user), class: 'nav-link' do %>
                  <i class="fas fa-user-clock"></i> 過去の学習時間
                <% end %>
              </li>
              <li class="nav-item nav-bottom">
                <%= link_to learnings_path, class: 'nav-link' do %>
                  <i class="fas fa-book-open"></i> 学習記録を確認
                <% end %>
              </li>
              <li class="nav-item nav-bottom">
                <%= link_to tasks_path, class: 'nav-link' do %>
                  <i class="fa fa-list-alt"></i> ToDoリストを確認
                <% end %>
              </li>
              <li class="nav-item nav-bottom">
                <%= link_to new_learning_path, class: 'nav-link' do %>
                  <i class="fa fa-edit"></i> 学習内容を記録
                <% end %>
              </li>
              <li class="nav-item nav-bottom">
                <%= link_to new_task_path, class: 'nav-link' do %>
                  <i class="fa fa-plus-square"></i> ToDoリストを作成
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="d-none d-lg-block user-header-bottom">
      <nav class="navbar navbar-expand-lg navbar-light p-0">
        <div class="collapse navbar-collapse justify-content-center">
          <div class="navbar-nav">
            <ul class="navbar-nav align-items-center">
              <li class="nav-item nav-bottom mr-4">
                <%= link_to user_path(current_user) do %>
                  <i class="fa fa-user"></i> マイページ
                <% end %>
              </li>
              <li class="nav-item nav-bottom mr-4">
                <%= link_to user_learning_times_path(current_user), class: 'nav-link' do %>
                  <i class="fas fa-user-clock"></i> 過去の学習時間
                <% end %>
              </li>
              <li class="nav-item nav-bottom mr-4">
                <%= link_to learnings_path do %>
                  <i class="fas fa-book-open"></i> 学習記録を確認
                <% end %>
              </li>
              <li class="nav-item nav-bottom mr-4">
                <%= link_to tasks_path do %>
                  <i class="fa fa-list-alt"></i> ToDoリストを確認
                <% end %>
              </li>
              <li class="nav-item nav-bottom mr-4">
                <%= link_to new_learning_path do %>
                  <i class="fa fa-edit"></i> 学習内容を記録
                <% end %>
              </li>
              <li class="nav-item nav-bottom">
                <%= link_to new_task_path do %>
                  <i class="fa fa-plus-square"></i> ToDoリストを作成
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
<% else %>
  <header class="header-main">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <div class="navbar-brand"><%= link_to 'MyStudy Note', root_path, class: "logo" %></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mr-4">
              <%= link_to root_path, class: 'nav-link' do %>
                <i class="fas fa-home"></i> ホーム
              <% end %>
            </li>
            <li class="nav-item mr-4">
              <%= link_to common_learnings_path, class: 'nav-link' do %>
                <i class="fas fa-book"></i> みんなの学習記録
              <% end %>
            </li>
            <li class="nav-item mr-4">
              <%= link_to new_user_registration_path, class: 'nav-link' do %>
                <i class="fas fa-user-plus"></i> 会員登録
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_session_path, class: 'nav-link' do %>
                <i class="fas fa-sign-in-alt"></i> ログイン
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
<% end %>
