<% if user_signed_in? %>
  <header>
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <%= link_to image_tag('MyStudy Note.png'), root_path, class: "logo" %>
        <div class="row">
          <div class="col-lg-12">
            <ul class="navbar-nav">
              <li><%= link_to 'マイページ', user_path(current_user) %></li>
              <li><%= link_to 'サイト説明', about_path %></li>
              <li><%= link_to 'ユーザー', users_path %></li>
              <li><%= link_to '学習時間確認', user_learning_times_path(current_user) %></li>
              <li><%= link_to '学習時間記録', new_learning_path %></li>
              <li><%= link_to 'リスト作成', new_task_path %></li>
              <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>
<% else %>
  <header>
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <%= link_to image_tag('MyStudy Note.png'), root_path, class: "logo" %>
        <a class="navbar-brand text-light" href="/"><span class="text-center"><h2>MyStudy Note<br></h2><p>自分だけの学習ノートをつくろう！</p></span></a>
        <div class="row">
          <div class="col-lg-12">
            <ul class="navbar-nav">
              <li><%= link_to 'MyStudy Noteとは', about_path %></li>
              <li><%= link_to '新規登録', new_user_registration_path %></li>
              <li><%= link_to 'ログイン', new_user_session_path %></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>
<% end %>
